.wrapper-general {
    background-color: #ffffff;
}

.normalFontWeight {
    font-weight: normal;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
}

.textField {
    width: 40%;
    background-color: #dfe6e9;
    font-size: 1rem;
}

.warningText {
    font-weight: bold;
    color: #e74c3c;
    margin-bottom: 5px;
}

.cancelButton {
    background-color: #636e72;
    color: #ffffff;
}

.saveButton {
    background-color: #0984e3;
    color: #ffffff;
}
