$bg-color: #0984e3;
$color: #ffffff;
@mixin btn {
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.boldFontWeight {
  font-weight: bold;
}

.publishButton {
  background: $bg-color;
  border-radius: 5px;
}

.publishDraftText {
  font-weight: normal;
  color: $color;
  padding: 10px 0px 10px 5px;
  cursor: pointer;
}

.deleteDraftButton {
  font-weight: normal;
  padding-left: 5px;
  cursor: pointer;
}

#publish-setting-main {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  width: 40%;
}

#boldFontWeight {
  margin: 5px 0px;
}

#disagree-btn {
  background: #636e72;
  color: $color;
}

#agree-btn {
  background: $bg-color;
  color: $color;
}

#deleteDraftBtn {
  @include btn;
}

#publishBtn {
  @include btn;
}
